<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236084385211-uv3mjtik8ln5grhtmsbge0j59kulh13c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236084385211-uv3mjtik8ln5grhtmsbge0j59kulh13c</string>
	<key>API_KEY</key>
	<string>AIzaSyCYNge7ThFJuvPj7S1AE4k9FaAwJ_m6V_s</string>
	<key>GCM_SENDER_ID</key>
	<string>236084385211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chataja.kiwari-ios-test</string>
	<key>PROJECT_ID</key>
	<string>kiwari-ios-test-da043</string>
	<key>STORAGE_BUCKET</key>
	<string>kiwari-ios-test-da043.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236084385211:ios:c47323845b51b9335de09e</string>
	<key>DATABASE_URL</key>
	<string>https://kiwari-ios-test-da043.firebaseio.com</string>
</dict>
</plist>